
/***版心盒子**/


.header{
	width:100%;
	height:0.88rem;
    background:#222222;
}
/**版心**/
.innerContainer{
	width:7.1rem;
	margin: 0 auto;
	
}
.backBtn,.headerTxt,.navBtn{
	float:left;
}
.header .backBtn{
	/*margin-top:0.30rem;*/
	width:0.30rem;
	height:0.26rem;
	margin-top:0.29rem;
}
.header .backBtn img{
	width:100%;
	height:auto;
	
}
.header .headerTxt{
	font-size:0.36rem;
    color:#fff;
    width:6.5rem;
    text-align:center;
    line-height:0.88rem;
   /* margin-left:2.9rem;
    margin-right:2.9rem;*/
}
.header .navBtn{
	width:0.27rem;
	height:0.22rem;
	margin-top:0.33rem;
	position:relative;
	
}
.header .navBtn img{
	display:block;
	width:100%;
	height:auto;
	
}

.header .navBtn .navDrop{
	width:2.76rem;
	background:#222222 ;
	position:absolute;
	right:0.01rem;
	top:0.8rem;
	display:block;
    display:none;
	z-index:100000;
}
/***课程介绍的下拉菜单***/
.header .navBtn .navDrop .courseListContainer{
	position:relative;
}


/***小三角**/
.header .navBtn .triangle{
	width: 0;
    height: 0;
    border:0.18rem solid #222222;
	/*border:0.18rem solid #222222;*/
	border-left:0.18rem solid transparent;
	border-top:0.18rem solid transparent;
	border-right:0.18rem solid transparent;
	position:absolute;
	top:0.45rem;
	right:0.13rem;
	display:none;
	z-index:100000;
	
}
/***navBtn下面的子元素li**/
.header .navBtn .navDrop>li{
	width:1.74rem;
	margin:0 auto;
	height:0.54rem;
	line-height:0.54rem;
	border-bottom:0.01px solid #363636;
    padding-left:0.13rem;
}

.header .navBtn .navDrop>li:last-of-type{
	border-bottom:0.01px solid transparent;
}

.header .navBtn .navDrop .navA{
	display:block;
	height:0.26rem;
	line-height:0.26rem;
	margin-top:0.3rem;
	font-size:0.28rem;
	color:#fff;
    vertical-align: middle;
	padding-left:0.4rem;
	/*background: #f00;*/
	
	
}
/*******************8课程下面的下拉菜单******************************/
.header .navBtn .navDrop .courseList{
	width:2.76rem;
	text-align:center;
    position:absolute;
	left:-3.2rem;
	top:-0.3rem;
	display:none;
}
.header .navBtn .navDrop .courseList li{
    text-align:center;
    width:2.76rem;
}

.header .navBtn .navDrop .courseList a{
	display:block;
	width:2.76rem;
    height:0.614rem;
	line-height:0.614rem;
	font-size:0.28rem;
	color:#fff;
	background: #222222;
}
/**首页**/
.header .navBtn .navDrop .home{
	background:url(../img/base/homeWhite.png) no-repeat left center;
	background-size:contain;
   
}
/*.header .navBtn .navDrop .home:hover{
	background:url(../img/base/homeGreen.png) no-repeat left center;
	background-size:contain;
    padding-left:0.67rem;
    padding-top:0.04rem;
    
}*/
/**关于我们**/
.header .navBtn .navDrop .aboutUs{
	background:url(../img/base/aboutUsWhite.png) no-repeat left center;
     background-size:contain;
   
    
}
/*.header .navBtn .navDrop .aboutUs:hover{
	background:url(../img/base/aboutUsGreen.png) no-repeat left center;
    padding-left:0.67rem;
    padding-top:;
	background-size:contain;
    
}*/
/**课程介绍**/
.header .navBtn .navDrop .course{
	background:url(../img/base/courseWhite.png) no-repeat;
    
	background-size:contain;
}
/*.header .navBtn .navDrop .course:hover{
	background:url(../img/base/courseGreen.png) no-repeat;
    padding-left:0.67rem;
	background-size:contain;
}*/
/**师资团队**/
.header .navBtn .navDrop .teacher{
	background:url(../img/base/teacherWhite.png) no-repeat;
   background-size:contain;
}

.outstandingStudent{
	background:url(../img/base/outstandingStudent.png) no-repeat;
    background-size:contain;
    
}
/**学员作品**/
.header .navBtn .navDrop .works{
	background:url(../img/base/worksWhite.png) no-repeat;
    background-size:contain;
    
}

/**合作企业**/
.header .navBtn .navDrop .firmCoperation{
	background:url(../img/base/firmCooperationWhite.png) no-repeat;
    background-size:contain;
}
.header .navBtn .navDrop .classInfo{
	background:url(../img/base/classInfo.png) no-repeat;
    background-size:contain;
}

/**在线报名**/
.header .navBtn .navDrop .onlineRegister{
	background:url(../img/base/onlineRegisterWhite.png) no-repeat;
   background-size:contain;
   /* border-bottom:transparent solid #fff;*/
}

/**尾部**/
.footer{
	width:100%;
	height:2.89rem;
	background:#1f2229;
	overflow: hidden;
}
.footer .footerNav{
	width:4.7rem;
	height:0.24rem;
	margin:0 auto;
	margin-top:0.38rem;
	
	
}
.footer .footerNav li{
	height:0.24rem;
	float:left;
	border-right:0.01rem solid #6f6f6f;
	padding:0 0.3rem;
	
}
.footer .footerNav li:nth-child(3){
	border-right:0.01rem solid transparent;
}
.footer .footerNav li a{
	
	display:block;
	font-size:0.24rem;
	color:#fff;
	line-height:0.24rem;
	padding-bottom:0.1rem;
	border-bottom:0.02rem solid #008842;
}
/**电话和地址**/
.footerLogoAndPhone{
	width:5rem;
	height:0.5rem;
	margin:0 auto;
	margin-top:0.48rem;
	
}
.logo{
	width:1.50rem;
	height:0.46rem;
	float:left;
}
.phoneAndAddress{
	width:2.9rem;
	height:0.5rem;
	border-left:0.01rem solid #6f6f6f;
	float:left;
	margin-left:0.3rem;
	padding-left:0.10rem;
}
.tel{
	height:0.22rem;
	background:url(../img/base/tel.png) no-repeat left center;
	font-size:0.24rem;
	color:#fff;
	font-weight:900;
	height:0.26rem;
	line-height:0.26rem;
	padding-left:0.12rem;
	background-size:contain;
	vertical-align: middle;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.address{
	font-size:0.14rem;
	color:#fff;
	height:0.28rem;
	line-height:0.28rem;
}
.copyRight{
	height:0.67rem;
	line-height:0.67rem;
	font-size:0.14rem;
	text-align:center;
	color:#6f6f6f;
	margin-top:0.45rem;
	border-top:1px solid #35363a;
}
