[genuitec-file-id="wc1-72"],[genuitec-lp-path="/feicuiwb/src/main/webapp/front/css/base.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

[genuitec-file-id="wc1-74"],[genuitec-lp-path="/feicuiwb/src/main/webapp/front/css/base.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

[genuitec-file-id="wc1-75"],[genuitec-lp-path="/feicuiwb/src/main/webapp/front/css/base.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

header{
	background: #222222;
	height: 164px;
	position: fixed;
	top: 0;
	left: 0;
	z-index:100000;
}
.logo img{
	float: left;
}
.logo img:nth-child(1){
	padding: 42px 14px 0 0;
}
.logo img:nth-child(2){
	padding-top: 52px;
}
.location{
	padding-top: 42px;
}
.location p:nth-child(1){
	line-height: 20px;
	font-size: 14px;
	margin-left: 26px;
	color: #00a841;
	padding-left: 30px;
	background: url(../img/headAndFoot/tel-header.png) no-repeat left center;
	/*outline: 1px solid red;*/
}
.location p:nth-child(3){
	color: #FFFFFF;
	font-size: 16px;
	padding-left: 40px;
	line-height: 20px;
	background: url(../img/headAndFoot/m.png) no-repeat left center;
}
.location p:nth-child(2){
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	line-height: 20px;
	color: white;
	border-right: 1px solid #FFFFFF;
	
}
.nav>li{
	float: left; 
	height: 101px;
}
.nav>li>a:hover{
	color: #00a841;
	
}
/*.nav>li:nth-child(1)>a{
	border-bottom: 6px solid #00a841;
}*/
.active{
	border-bottom: 6px solid #00a841;
	color:#029f3f;
}
.nav>li>a{
	line-height: 95px;
	margin: 0 14px;
	display: block;
	font-size: 20px;
	color: #fefefe;
}

.sub_nav,.studentSub_nav{
	position: absolute;
	/*width: 123px;*/
	width: 108px;
/*	padding-left: 43px;*/
	padding-left: 26px;
	background: #FFFFFF;
	filter:alpha(opacity=80);   
	-moz-opacity:0.8;   
	opacity: 0.8;
	display: none;
	top: 101px;
	left: 0px;
}


.sub_nav li a,.studentSub_nav li a{
	color: #7e7e7e;
	font-size: 20px;
	line-height: 44px;
}
.sub_nav li a,.studentSub_nav li a{
font-size:16px;
color: #000;
}
@media only screen and (min-width: 1266px) and (max-width: 1580px) {
	.head_wrap{
		width: 1250px;
		margin: 0 auto;
		
	}
	.sub_nav,.studentSub_nav{
		width: 94px;
		padding-left: 14px;
		top: 101px;
		left: 0;
		width: 104px;
		left: -5px;
	}
}
@media only screen and (min-width: 1580px) and (max-width: 1920px) {
	
   .head_wrap{
   	width: 1530px;
		/*width: 1442px;*/
		margin: 0 auto;
	}
	.nav>li>a{
		/*margin: 0 43px;*/
		margin: 0 26px;
	}
}



footer{
	border-bottom: 1px solid #35363a;
	background: #1f2229;
}
.footer_logo{
	width: 269px;
	margin: 0 auto;
}
.footer_logo img:nth-child(1){
	padding-top: 74px;
	float: left;
}
.footer_logo img:nth-child(2){
	float: left;
	padding-top: 85px;
	padding-left: 8px;
}
footer h2{
	color: #ffffff;
	width: 178px;
	margin: 45px auto 0;
	font-weight: bolder;
	line-height: 60px;
	padding-left: 30px;
	background: url(../img/headAndFoot/tel-footer.png) no-repeat left center;
}
footer h5{
	color: #6b6b6b;
	margin-bottom: 54px;
}
footer ul{
	width: 152px;
	padding-bottom: 46px;
}
footer ul li{
	font-size: 14px;
	color: #6b6b6b;
	line-height: 34px;
}
footer ul li:nth-child(1){
	font-size: 18px;
	color: #f5f5f5;
	line-height: 50px;
	width: 30px;
	border-bottom: 2px solid #008842;
	margin-bottom: 8px;
	white-space: nowrap;
}
footer dl.right{
	padding:40px 50px 0 0;
}
footer dl dd{
	color: #eaeaea;
	font-size: 16px;
	text-align: center;
	padding-top: 12px;
}
.copy_right{
	background: #1f2229;
}

.copy_right p{
	padding-left: 18px;
	color: #6B6B6B;
	font-size: 14px;
	line-height: 96px;
}
