[genuitec-file-id="wc1-75"],[genuitec-lp-path="/feicuiwb/src/main/webapp/front/css/footer.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

[genuitec-file-id="wc1-78"],[genuitec-lp-path="/feicuiwb/src/main/webapp/front/css/footer.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

/**footer**/
.footer{
	height:768px;
	width:100%;
	background: #1f2229;
	overflow: hidden;
}
.footer .footer_logo{
	display:block;
	width:278px;
	height:80px;
	margin-top:72px;
	margin:0 auto; 
}
.phoneAndAdr{
	width:100%;
	height:62px;
	background: #0f0;
	
}
.footer .adr{
	text-align:center;
}
.footer .phoneNum{
	text-align:center;
}
.col{
	float:left;
}
